:root {
  --font-family-main: Serif;

  --font-line-s: 12px;
  --font-line-m: 14px;
  --font-line-l: 26px;
  --font-line-xl: 40px;

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 32px;
}